@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background:white;
}
#generate-random-excuse{
    font-size: 4em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}